# NASCAR Modern Era Data Exploration
by Ra Cohen and Richard Koerner

In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import seaborn as sns

# Load the data set
nascar_df = pd.read_csv('../data/NASCAR_Modern_Era.csv')

# Show the loaded data set
nascar_df.head()

/var/folders/g0/7pgly2hx5fd9nkyd5x740m0w0000gn/T/ipykernel_78183/172615984.py:8: DtypeWarning: Columns (10,13) have mixed types. Specify dtype option on import or set low_memory=False.
  nascar_df = pd.read_csv('../data/NASCAR_Modern_Era.csv')

,Finish_Place,Starting_Position,Num_Racers,Car_Num,Driver,Make,Points,Laps,Status,Track,...,Date,Laps_Led,Prize_Money,Miles_Driven,Track_Length,Miles_Led,Race_Length,DOB,Age,Hall_of_Fame
0,1,5,30,43,"Petty,Richard",PLY,48.0,500,RUNNING,Macon,...,11/17/1968,362.0,"$3,500",250.0,0.5,181.0,125,7/2/1937,31.38,*
1,2,1,30,17,"Pearson,David",FOR,43.0,500,RUNNING,Macon,...,11/17/1968,8.0,"$2,345",250.0,0.5,4.0,125,12/22/1934,33.90,*
2,3,6,30,48,"Hylton,James",DOD,41.0,490,RUNNING,Macon,...,11/17/1968,NaN,"$1,375",245.0,0.5,NaN,125,8/26/1934,34.23,NaN
3,4,8,30,64,"Langley,Elmo",FOR,40.0,476,RUNNING,Macon,...,11/17/1968,NaN,$925,238.0,0.5,NaN,125,8/21/1928,40.24,NaN
4,5,12,30,4,"Sears,John",FOR,39.0,466,RUNNING,Macon,...,11/17/1968,NaN,$825,233.0,0.5,NaN,125,5/9/1936,32.52,NaN

In [ ]:
# Split into 3 additional data sets to incorporate additional information easier

# Drivers will have Name (Driver), DOB, and Hall_of_Fame
# drivers_df 

# Tracks will have Track, Track_Length
# track_df

# Races will have Race_ID, Num_Racers, Track, Race_Length, Date, Total_Purse (new)
# races_df